{% extends "layout.html" %}

{% block title %}
   - Ingredient Types
{% endblock %}

{% block main %}
<div class="mb-3">
    <form action="/add_ingredient_types" method="get">
        <input type="hidden" name="is_new" value=1>
        <button class="btn btn-primary">Add Ingredient Type</button>
    </form>
</div>

<div class="mb-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for ingredient_type in ingredient_types_list %}
                    <tr>
                        <td>{{ingredient_type.name}}</td>
                        <td>{{ingredient_type.date_created}}</td>
                        <td><a href="/add_ingredient_types?id={{ingredient_type.id}}" class="btn btn-info btn-sm">Edit</a><a href="/add_ingredient_types?id={{ingredient_type.id}}&delete=true" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

</div>
{% endblock %}
