{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <img src="https://memecomplete.com/share/images/sadfrog/sorry/something_went_wrong.jpg?token=cgtl5i2mcmwrod7qq8c6">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Retype password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
